body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: #99D9EA;
    border-bottom: solid #78D9EA 2px;
    height: 50px;
    width: 100%;
    padding: 0px;
    overflow: hidden;
}
.unredditlogo{
    height: 46px;
    width: 150px;
    float: left;
}
.overallpost{
    padding: 10px 0px;
    position: relative;
}
.postnumbering{
   color: lightgrey;
}
.votingdiv{

}
.upvote{
    color: lightgrey;
    margin: auto;
}
.downvote{
    color: lightgrey;
    margin: auto;
}
.cupvote{
    color: lightgrey;
    margin: auto;
}
.cdownvote{
    color: lightgrey;
    margin: auto;
}
.leftside{
    float: left;
    
}
.sidebar{
    float: right;
    display: inline-block;
    background-color: yellow;
    height: auto;
}
.postbody{
    padding-top: 25px;
}
.postscore{
    margin: auto;
    position: relative;
}
.comments{
    padding-left: 20px;
}
.topcommentsheader{
    border-bottom: dotted lightgrey 2px;
}
.postimage{
    height: 100px;
    width: 150px;
}

